.header {
    
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--border-ligth);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    font-size: 1.4rem;
    
}